* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  background-color: orange;
}

.title {
  color:  #fff;
  padding: 15px 100px;
}

.links {
  background-color:  #000;
  padding: 10px 100px;
}

.link {
  display: inline;
  padding: 0 10px 0 0;
}

.link a {
  text-decoration: none;
  color: #fff;
}

.link a:hover {
  color: orange;
}

.picture {
  background-image: url("images/images.jpg");
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
}

.text {
  position: relative;
  top: 75px;
  width: 70%;
  margin: auto;
}

.label {
  color: #fff;
  text-align: center;
}

section {
  box-sizing: border-box;
  width: 65%;
  float: left;
  padding: 35px 25px 35px 100px;
}

section h1 {
  padding-bottom: 12px;
}

aside {
  float: right;
  box-sizing: border-box;
  width: 35%;
  margin-top: 50px;
}

.box {
  background-color: #000;
  color: #fff;
  margin-right: 50px;
  padding: 20px 7.5px;
}

footer {
  background-color: grey;
  color: #fff;
  float: left;
  width: 100%;
  text-align: center;
  padding: 50px;
}

@media(max-width: 600px) {
  section {
    width: 100%;
    float: none;
  }
  aside {
    width: 100%;
    float: none;
  }
}